<?xml version="1.0"?>

<configuration>
    <system.web>
    <compilation debug="true" targetFramework="4.8" />
        <customErrors mode="Off" />
    </system.web>
	
	<!--DB connection config-->
  <connectionStrings>
   
  <!-- 測試開發用 -->
	<!-- <add name="KAZUO"  connectionString="Data Source=KAZUO;Initial Catalog=JazzerLife;Persist Security Info=True;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>	 -->
	<!-- Server用 -->
  <add name="KAZUO"  connectionString="Data Source=DESKTOP-E4G7MO5;Initial Catalog=JazzerLife;Persist Security Info=True;User ID=kazuo;Password=kazuo" providerName="System.Data.SqlClient"/>	

  </connectionStrings>

  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000"/>		<!--Json size max limit-->
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>


