<?xml version="1.0"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
	
	<!--DB connection config-->
  <connectionStrings>
   

	<add name="PROD06" connectionString="Data Source=TAMSSPROD06,53654;Initial Catalog=OPS_IMP_METRICS;Persist Security Info=True;User ID=aetperfect;Password=Insight20" providerName="System.Data.SqlClient"/>	

  </connectionStrings>

  
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000"/>		<!--Json size max limit-->
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>


